@model IEnumerable<Project8.Models.College>

@{
    ViewBag.Title = "Colleges";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}<style>
    .imgthumbnail {
        z-index: 999999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.5s;
    }

        .imgthumbnail:hover {
            transform: scale(5);
        }
</style>
<h2>Colleges</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.College_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College_Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.College_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.College_Description)
            </td>
            <td>
                <img style="height:50px; width:50px" class="imgthumbnail" src="../Images/@Html.DisplayFor(modelItem => item.College_Image)" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.College_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.College_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.College_Id })
            </td>
        </tr>
    }

</table>
