<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProBootstrap:Enlight &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by ProBootstrap.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles-merged.css">
    <link rel="stylesheet" href="~/css/style.min.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="probootstrap-search" id="probootstrap-search">
        <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
        <form action="#">
            <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
        </form>
    </div>

        <!-- Fixed navbar -->
        @*<div class="probootstrap-header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                            <span><i class="icon-location2"></i>Brooklyn, NY 10036, United States</span>
                            <span><i class="icon-phone2"></i>+1-123-456-7890</span>
                            <span><i class="icon-mail"></i>info@probootstrap.com</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
                            <ul>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram2"></i></a></li>
                                <li><a href="#"><i class="icon-youtube"></i></a></li>
                                <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        <nav class="navbar navbar-default probootstrap-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="btn-more js-btn-more visible-xs">
                        <a href="#"><i class="icon-dots-three-vertical "></i></a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="background-image:url('/img/logo3.png');background-size:contain;" href="/Home/Index" title="ProBootstrap:Enlight">Melano</a>
                </div>

                <div id="navbar-collapse" class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li><a href="/Home/Collages">Collages</a></li>
                        <li>@Html.ActionLink("Schedule", "Schedule", "Manage")</li>

                        <li>@Html.ActionLink("Doctors", "Index", "OurDoctors")</li>
                        @if (Context.User.IsInRole("Student"))
                        {
                            <li><a href="/Manage/Registration">Registration</a></li>
                        }
                        @if (Context.User.IsInRole("Doctor"))
                        {
                            <li><a href="/Home/DoctorsResults">Marks</a></li>
                        }

                        @*<li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="course-single.html">Course Single</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Second Level Menu</a></li>
                        <li><a href="#">Second Level Menu</a></li>
                        <li><a href="#">Second Level Menu</a></li>
                        <li><a href="#">Second Level Menu</a></li>
                    </ul>
                </li>
                <li><a href="news.html">News</a></li>
            </ul>
        </li>*@
                    </ul>

                </div>
            </div>
        </nav>
















        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>*@
        <div class="">
            @RenderBody()
            <hr />


            <footer class="probootstrap-footer probootstrap-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="probootstrap-footer-widget">
                                <h3>About The University</h3>
                                <p>To deliver high caliber education and provide professional services that contribute to the progress of knowledge and the development of local communities and humanity. As technology continues to evolve, we will provide scientific and technological environments that are conducive to excellence.</p>
                                <h3>Social</h3>
                                <ul class="probootstrap-footer-social">
                                    <li><a href="https://www.twitter.com/justedujo"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/pages/JUST-University/633721593348542?ref=hl"><i class="icon-facebook"></i></a></li>
                                    @*<li><a href="#"><i class="icon-github"></i></a></li>*@
                                    @*<li><a href="#"><i class="icon-dribbble"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/edu/school?id=192021&trk=hp-feed-school-name"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCVLYZ-9I6nTA8-WgergKF0g"><i class="icon-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-push-1">
                            <div class="probootstrap-footer-widget">
                                <h3>Links</h3>
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li><a href="/Home/Collages">Collages</a></li>
                                    <li>@Html.ActionLink("Doctors", "Index", "OurDoctors")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="probootstrap-footer-widget">
                                <h3>Contact Info</h3>
                                <ul class="probootstrap-contact-info">
                                    <li>
                                        <i class="icon-location2"></i> <span>
                                            Melan                                            P.O.Box 3030, Irbid 22110, Jordan
                                        </span>
                                    </li>
                                    <li><i class="icon-mail"></i><span>public@just.edu.jo</span></li>
                                    <li><i class="icon-phone2"></i><span>+962 2 7201000</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- END row -->

                </div>

                <div class="probootstrap-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 text-left">
                                <p>&copy; 2023 <a href="https://probootstrap.com/"></a>. All Rights Reserved. <i class="icon icon-heart"></i>  <a href="https://probootstrap.com/"></a></p>
                            </div>
                            <div class="col-md-4 probootstrap-back-to-top">
                                <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>





        </div>

        <script src="~/js/scripts.min.js"></script>
        <script src="~/js/main.min.js"></script>
        <script src="~/js/custom.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
