@model Project8.Models.Cours

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Of_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syllabus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syllabus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major.Major_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.Major_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours1.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours1.Course_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
