@model IEnumerable<Project8.Models.Cours>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.syllabus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major.Major_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours1.Course_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Of_Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.syllabus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major.Major_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours1.Course_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Course_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Course_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Course_Id })
        </td>
    </tr>
}

</table>
