@model Project8.Models.AspNetUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt>
            Natonail Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.National_Number)
        </dd>



        <dt>
            High School AVG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighSchool_Avg)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @if (Model.IsAccepted == true)
            {
                <label style="color:green">Accepted</label>
            }
            else if (Model.IsAccepted == false)
            {
                <span style="color:red">Regected</span>
            }
            else
            { <span style="color:orange">Pending</span>}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            Major Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.Major_Name)
        </dd>
        <dt>
            Personal Image
        </dt>

        <dd>
            <a href="../../Images/@Html.DisplayFor(model => model.user_image)" download>
                <img download style="height:250px; width:250px" src="../../Images/@Html.DisplayFor(model => model.user_image)" />
            </a>

        </dd>

        <dt>
            Identity Image
        </dt>

        <dd>
            <a href="../../Images/@Html.DisplayFor(model => model.Id_Image)" download>
                <img style="height:250px; width:250px" src="../../Images/@Html.DisplayFor(model => model.Id_Image)" />

            </a>
        </dd>
        <dt>
            High School degree
        </dt>

        <dd>
        <dd>
            <a href="../../Highschool/@Model.HighSchool_Image" download>High School Degree</a>
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
