@using Project8.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        margin-left: -4px;
    }

    input[type=checkbox], input[type=radio] {
        margin: 6px 0 0;
    }
</style>

<div class="container body-content" style="margin-top:30px;">
    <div style="display: flex; justify-content: center;">
        <div style="width: 90%; justify-content: center; display: grid; grid-template-columns: 50% 45%; border-radius: 20px; overflow: hidden; box-shadow: 5px 5px 10px grey;">

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="margin: 8px 17px 0px !important; font-weight: bold; text-align: center;">Log in</h4>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="padding: 50px; justify-content: space-between; width: 100%;">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-lg btn-warning" style="width: 100%; background-color: #49d292; border-color: #49d292; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); text-transform: uppercase; letter-spacing: 2px; color: #fff; font-size: 1.2rem; font-weight: bold; padding: 12px; transition: all 0.3s ease-in-out; margin-top: 20px;" />

                            </div>
                        </div>
                        <div class="form-group" style="display: flex; justify-content: center;">
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                        </div>

                    </div>

                }
            </section>


            <div style="background-image: url('../../img/edu1-removebg-preview.png'); background-repeat: no-repeat; background-size: cover; width: 500px;">

            </div>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
