@model IEnumerable<Project8.Models.College>
@{
    ViewBag.Title = "Collages";
}
<section class="probootstrap-section probootstrap-section-colored" style="background-image:url(../k1.jpg) ; background-size:cover ; background-position-y:center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">

            </div>
        </div>
    </div>
</section>

<style>
    .section {
  padding: 50px 0;
}

.flex-row-stretch {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex-col {
    margin-bottom: 30px;
}




/* ======Cards======= */

.card {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    border-radius: 6px;
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, .2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.card-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    background-color: #231f20;
    padding: 7px 15px;
}

.card-photo {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
}

.card p {
    font-size: 15px;
    margin-bottom: 20px;
}

.card h4 {
    text-align: left !important;
    margin: 0 0 13px;
}

.card a {
    align-self: end;
    margin-top: auto;
}
</style>






<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="section">
                <div class="container">
                    <div class="row flex-row-stretch " style="justify-content:center; ">
                        @foreach (var item in Model)
                        {


                            <div class="col-sm-6 col-md-5 col-lg-5 flex-col">
                                <div class="card">
                                    <div class="card-photo" style="background-image: url(../../Images/@item.College_Image);"></div>
                                    <div class="card-body">
                                        <h4>@item.College_Name</h4>

                                        <p>@item.College_Description</p>
                                        <a class="btn btn-primary" href="Majors/@item.College_Id">View all majors</a>
                                    </div>
                                </div>
                            </div>



                            @*<div class="col-md-6">
            <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                    <div class="image-bg">
                        <img src="@item.College_Image" style="height:400px; " alt="Free Bootstrap Template by ProBootstrap.com">
                    </div>
                </div>
                <div class="text">
                    <span class="probootstrap-meta"></span>
                    <h3>@item.College_Name</h3>
                    <p>@item.College_Description</p>
                    <p><a href="#" class="btn btn-primary">See All Majors</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                </div>
            </div>*@



                        }
                    </div>
                    </div>
            </div>
        </div>

    </div>
</section>




